<div class="modal fade" name="adaugaPersonale" id="adaugaPersonale" tabindex="-1" role="dialog" aria-labelledby="adaugaProgramareLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                <h4 class="modal-title" id="editeazaPersonaleLabel"> Aici adaugi APP pentru {{ pacient.nume }}</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" role="form">
                    
                    <div class="form-group">
                        <label for="boala">Boală:</label>
                        <input type="text" name="boala" id="boala" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="data-diagnostic"> Data depsitarii</label>
                        <input type="text" name="data-diagnostic" class="form-control" id="data-diagnostic">
                    </div>

                    <div class="form-group">
                        <label for="tratament"> Ce buline ia sau ce procedură a urmat(eg stent coronarian)</label>
                        <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="dciselect" id="dci" autocomplete="off" checked value="dci"> DCI</label>
                    <label class="btn btn-primary">
                        <input type="radio" name="dciselect" id="denumirecomerciala" autocomplete="off" value="denumirecomerciala">denumire comercială</label>
                    <label class="btn btn-primary">
                        <input type="radio" name="dciselect" id="procedura" autocomplete="off" value="procedura"> procedură medicală</label>
                    </div>
                        <input type="text" name="tratament" class="form-control" autocomplete="off">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Renunţă </button>
                <button value="submit" type="submit" class="btn btn-primary" id="salveazaProgramarea"> Adaugă heredocolaterală</button>
                <input type="hidden" name="pacientid" id="pacientid">
                </form>
            </div>
        </div>
    </div>
</div>


