{% extends "pacient/lista.html" %}
{% block title %} Adaugă un consult pentru {{ pacient.nume }} {{ pacient.prenume }}{% endblock %}
{% block body %}
{% include "consults/modale/adaugaPersonale.html" %}
{% include "consults/modale/adaugaHeredocolaterale.html" %}
<link ref="stylesheet" href="/static/app/css/datepicker.css">
<script type="text/javascript" src="/static/app/js/moment-with-locales.js"></script>
<script type="text/javascript" src="/static/app/js/bootstrap3-typeahead.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#programariPicker').datetimepicker({
                pickTime: false,
                language: "ro"
                });
            $('#ruda').typeahead({
                source: function(request, process) {
                    $.ajax({
                        url:"/ruda/cauta/"+request,
                        dataType: "json",
                        success: function(data) {
                            return process(data.rude);}
                            })},
                        displayText: function(item) {
                            return item.nume; 
                            },
                            items:3,
                            delay: 2,
                            autoselect: true});

            $('#search-icd').typeahead({
                            source: function(request, process) {
                                $.ajax({
                                    url: "/icd/cauta/"+request,
                                    dataType: "json",
                                    success: function(data){
                                        return process(data.diagnostice);} 
                                    })},
                            displayText: function (item) {
                                return item.diagnostic; 
                                },
                            items: 3,
                            delay: 2,
                            autoSelect: true,
                            minLength: 3
                                });
            
            $("#adaugaHeredocolaterale").on("submit", function(e){
                e.preventDefault();
                var submitButton = $(this);
                var form = $("#adaugaHeredocolaterale form");
                var formData = form.serialize();
                var pacientid = $(this).find('input[name=pacientid]').val();
                $.ajax({
                    url: "/pacient/adaugaHeredocolaterala/"+pacientid,
                    type: "POST",
                    data: formData,
                    error: function(data) {
                        console.log(data)
                    },
                    sucess: function(data) {
                            $("#adaugaHeredocolaterale").modal('hide');
                        }
                    })
                $("#adaugaHeredocolaterale").modal('hide')
                });
            $('#adaugaHeredocolaterale').on('show.bs.modal', function(event){
                    var button = $(event.relatedTarget)
                    var pacientid = button.data('pacientid')
                    var modal = $(this)
                    modal.find('input[name=pacientid]').val(pacientid)
                    });
                $('#data-diagnostic').datetimepicker({
                        pickTime:false,
                        language: "ro"
                        });
            });
</script>
<style>
.datepickertime{z-index:11151 !important;}
.bootstrap-datetimepicker-widget {
    z-index: 1200   !important;
}
</style>

<div class="jumbotron">
    <div class="container">
        <h2> Adauga consult pentru {{ pacient.nume|capfirst }} {{ pacient.prenume|capfirst }} cu cnp {{ pacient.cnp }} in data de 
            <input type="text" class="form-control" value="{{ programare.data| date:"j/m/Y"  }}" id="programariPicker" data-date-format="DD/MM/YYYY"> cu nr de registru nr</h2>
    </div>
</div>

<div class="col-md-3">
    <h4> aici trebuie sa apara datele heredocolaterale poate in side bar sau ceva</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaHeredocolaterale" data-pacientid="{{ pacient.id }}"> Adauga heredocolaterale</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaPersonale" data-pacientid={{ pacient.id}}> Adauga personala</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaScreening" data-pacientid={{ pacient.id }}> Adauga un screening</button>
    <h4> aici recomandari si data ultimei retete gratuite</h4>
</div>


<div class="col-md-7">
    <form method="post" class="form" role="form">
        <input type="hidden" name="consultid" id="{{ consult.id }}">
        <div class="form-group">
            <label for="diagnostice">Diagnostice:</label>
            <input type="text" class="form-control" id="diagnostice" name="diagnostice">
            <button type="button" class="btn btn-warning pull-right"> Adauga si acest diagnostic</button>
        </div>
        <div class="form-group">
            <label for="clinice"> Adauga date clinice(Înalţime, greutate, burtă):</label>
            <input type="text" class="form-control" id="clinice" name="clinice">
            <button type="button" class="btn btn-warning pull-right"> Adauga aceasta data clinica</button>
        </div>
        <div class="form-group">
            <label for="analiza"> Adauga aceasta analiza:</label>
            <input type="text" class="form-control" id="analiza" name="analiza"> <button type="button" class="btn btn-warning pull-right"> Adauga aceasta analiza</button>
            <h4> aici analize NB trebuie in dinamica şi de ce nu şi cele clinice</h4>
        </div>
        <div class="form-group">
            <label for="recomandari"> Recomandari:</label>
            <textarea class="form-control" rows="5" name="recomandari" id="recomandari"></textarea>
        </div>
    <button type="button" class="btn btn-success"> Imprima scrisoare medicala</button>
    <button type="button" class="btn btn-success"> Adauga consult fara scrisoare medicala</button>
</form>
</div>

<div  class="col-md-2">
        <p> aici o utilitate administrativa poate la care inca nu m-am gandit</p>
        <p> sau poate graficu de analize sa apara si atat...de vazut</p>
        <div class="form-group">
            <label for="exampleInput"> Sa zicm o adresa</label>
            <input type="email" class="form-control">
        </div>
</div>
{% endblock %}

