<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.js"></script>
<div class="modal fade" name="adaugaProgramare" id="adaugaProgramare" tabindex="-1" role="dialog" aria-labelledby="adaugaProgramareLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                <h4 class="modal-title" id="editeazaPersonaleLabel"> Aici faci o programare la dr pentru {{ pacient.nume }} {{ pacient.prenume }}</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-inline" role="form" id="adaugaProgramareForm">
                    <div class="form-group">
                        <label for="data">Data şi ora:</label>
                        <input type="text" class="form-control" id="dataprogramarii" name="data" data-date-format="DD/MM/YYYY hh:mm">
                    </div>
                    <div class="form-group">
                        <label for="durata">Durata(minute):</label>
                        <input type="number" name="durata" id="durata" class="form-control required">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Renunţă </button>
                <button value="submit" type="submit" class="btn btn-primary" id="salveazaProgramarea"> Adaugă programarea</button>
                <input type="hidden" name="pacientid" id="pacientid">
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 $("#adaugaProgramare").on("submit", function(e){
        e.preventDefault();
        var submitButton = $(this);
        var form = $("#adaugaProgramare form");
        var formData = form.serialize();
        $.ajax({
            url:"/pacient/adaugaProgramare/"+ $("#pacientid").val(),
            type:"POST",
            data: formData,
            error: function(data) {
                console.log(data)
                },
            success: function(data) {
                $("#adaugaProgramare").modal('hide');
                }
                })
        $("#adaugaProgramare").modal('hide')
        $(this).removeData('bs.modal');
        });

$('#adaugaProgramare').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)
        var pacientid = button.data('pacientid')
        var modal = $(this)
        $.getJSON('/pacient/cauta/'+pacientid, function(rezultat){
            $("h4.modal-title").text("Adauga programare pentru "+ rezultat.pacient.nume + " " + rezultat.pacient.prenume)
           modal.find('input[name=pacientid]').val(rezultat.pacient.id)
            })
        });
$('#adaugaProgramareForm').validate({
    debug: true,
    rules: {
        durata:{
            required: true}
            ,
        dataprogramarii:{
            required: true}
            },
    messages: {
        durata: "Trebuie sa specifici durata"}
        });


</script>
