<div class="modal fade" name="adaugaPacientModal" id="adaugaPacientModal" tabindex="-1" role="dialog" aria-labelledby="adaugaPacientLabel" aria-hidden="true">
<script type="text/javascript" src="/static/app/js/adresa.js"></script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"> Close</span></button>
                <h4 class="modal-title" id="adaugaPacientLabel"> Adaugă pacient in evidentă</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="nume">Nume:</label>
                        <input type="text" class="form-control" id="numelepacientului" name="nume" autocomplete="off">
                        <label for="prenume">Prenume:</label>
                        <input type="text" name="prenume" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="cnp"> CNP </label>
                        <input type="text" name="cnp" class="form-control" id="cnp" autocomplete="off">
                        <label for="telefon"> Telefon:</label>
                        <input type="text" name="telefon" id="telefon" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group" id="adresa">
                        <label > Adresă:</label><br />
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" id="strain"> Bifează dacă nu e român</label>
                        </div>
                        <br />
                        <label for="tara"> Țară: </label>
                        <select id="tara" name="tara" class="form-control" disabled="disabled">
                            <option> România</option>
                        </select><br />
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="provincie"> Bifează dacă e din provincie</label>
                        </div>
                        <br />
                        <label for="judete"> Județ</label>
                        <select id="judete" name="judete" class="form-control" disabled="disabled">
                            <option> București</option>
                        </select>
                        <label for="oras"> Oraș</label>
                        <select id="oras" name="oras" class="form-control" disabled="disabled">
                            <option> București </option>
                        </select><br/>
                        <label for="strada"> Strada</label>
                        <input type="text" name="strada" id="strada" class="form-control" autocomplete="off">
                        


                    </div><br />
                    
                <button value="submit" type="submit" class="btn btn-warning pull-right" id="arataProgramare"> Adaugă și programare</button>

            </div>
            <div class="modal-footer">
                <button value="submit" type="submit" class="btn btn-warning pull-left" id="adaugaConsult"> Adaugă pacient și consult</button>

                <button value="submit" type="submit" class="btn btn-primary" id="adaugaPacient"> Adaugă pacient</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"> Renunță </button>
                <input type="hidden" name="pacientid" id="pacientid">
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="static/app/js/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="static/app/js/pacient/adauga.js"></script>
