<div class="modal fade" name="editeazaPersonale" id="editeazaPersonale" tabindex="-1" role="dialog" aria-labelledby="editeazaPersonaleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editeazaPersonaleLabel"> Iat? aici schimbi detaliile pentru {{ pacient.nume }} {{ pacient.prenume }}</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" name="dateContact">
                    <div class="form-group">
                        <label for="nume">Nume</label>
                        <input type="text" class="form-control" value="{{ pacient.nume}}" id="nume" name="nume">
                    </div>
                    <div class="form-group">
                        <label for="prenume">Prenume</label>
                        <input type="text" class="form-control"  id="prenume" name="prenume">
                    </div>
                    <div class="form-group">
                        <label for="cnp">Cod numeric personal</label>
                        <input type="text" class="form-control"  id="cnp" name="cnp">
                    </div>
                    <div class="form-group">
                        <label for="adresa"> Adresa de contact</label>
                        <input type="textarea" class="form-control"  id="adresa" name="adresa">
                    </div>
                    <div class="form-group">
                        <label for="telefon"> Numar de telefon de contact</label>
                        <input type="text" class="form-control"  id="telefon" name="telefon">
                        <input type="hidden" name="pacientid" id="pacientid">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Renun??</button>
                <button value="submit" type="submit" class="btn btn-primary" id="salveazaEditarile"> Salveaz? edit?rile</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$("#editeazaPersonale").on("submit", function(e){
    e.preventDefault();
    var submitButton = $(this);
    var form = $("#editeazaPersonale form");
    var formData = form.serialize();
    var pacientid = $(this).find('input[name=pacientid]').val();
    $.ajax({
        url: "/pacient/editeazaPersonale/"+pacientid,
        type: "POST",
        data: formData,
        error: function(data) {
            console.log(data)
        },
        sucess: function(data) {
                $("#editeazaPersonale").modal('hide');
            }
        })
    $("#editeazaPersonale").modal('hide')
    });


   
$('#editeazaPersonale').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)
        var pacientid = button.data('pacientid')
        var modal = $(this)
        $.getJSON('/pacient/cauta/'+pacientid, function(jd) {
           modal.find('input[name=nume]').val(jd.pacient.nume) 
           modal.find('input[name=prenume]').val(jd.pacient.prenume) 
           modal.find('input[name=cnp]').val(jd.pacient.cnp) 
           modal.find('input[name=adresa]').val(jd.pacient.adresa) 
           modal.find('input[name=telefon]').val(jd.pacient.telefon) 
           modal.find('input[name=pacientid]').val(jd.pacient.id)
           $("h4.modal-title").text("Schimbă datele pentru "+ jd.pacient.nume + " " + jd.pacient.prenume)
            });

        });
</script>

