{% include "schelet.html" %}

<title> {% block title %} Automonitorizare diabet {% endblock %} </title>
<body>
{% block body %}

<script src="/static/app/js/Chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
<script type="text/javascript" src="/static/app/js/diabet/glicemii.js"></script>
{% include "diabet/jumbotron.html" %}
<h2> Salut {{ pacient.nume }} </h2><br/>
<p> vom presupune că {{ pacient.nume }} are diabet și e vrea el să să monitorizeze, ceea ce urmează este o propunere de protocol, deocamdată unic</p>
<hr/>
 <ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#glicemii">monitorizarea glicemiilor</a></li>
  <li><a data-toggle="pill" href="#medicatie">Medicație</a></li>
  <li><a data-toggle="pill" href="#lifestyle">Stil de viață</a></li>
  <li><a data-toggle="pill" href="#dieta">Dietă</a></li>
  <li><a data-toggle="pill" href="#reminder">reminder pentru consulturi-analize</a></li>
  <li><a data-toggle="pill" href="#prognostic">Scoruri de prognostic</a></li>
</ul>

    <div class="tab-content">
        <div id="glicemii" class="tab-pane fade in active">
            {% include "diabet/partiale/glicemii.html" %}
        </div>
  <div id="medicatie" class="tab-pane fade">
      {% include "diabet/partiale/medicamente.html" %}
  </div>
  <div id="lifestyle" class="tab-pane fade">
      {% include "diabet/partiale/sport.html" %}
    
  </div>
 <div id="dieta" class="tab-pane fade">
     {% include "diabet/partiale/dieta.html" %}
   </div>
 <div id="reminder" class="tab-pane fade">
 <h2> alertă de efectuare a unei analize(creatinină  anual, fund de ochi la 2 ani plm)</h2>
        <ul>
            <li> ultimul fund de ochi l-ai făcut acum 180 zile și îți mai trebuie unul peste înca 20 zile</li>
            <li> ultimul consult cardiologic a fost acum 3 luni și conform indicațiilor îți mai trebuie unul peste 9 luni</li>
        </ul>  
  </div>
<div id="prognostic" class="tab-pane fade">
     <h2> scor de mortalitate, morbiditate care ia în considerare bolile asociate și vârsta</h2>
        <ul>
            <li> dacă ai diabet, colesterol, IM și AVC și mai și fumezi o mai duci doar 2-3 luni</li>
        </ul> 
  </div>

  </div>

{% endblock %}
</body></html>
