{% extends "pacient/lista.html" %}
{% block title %} Modifica datele personale ale lui {{ pacient.nume }}{% endblock %}

{% block body %}
<form role="form" method="post">
    <div class="form-group">
        <label for="nume">Nume</label>
        <input type="text" class="form-control" value="{{ pacient.nume}}" id="nume" name="nume">
    </div>
    <div class="form-group">
        <label for="prenume">Prenume</label>
        <input type="text" class="form-control" value="{{ pacient.prenume}}" id="prenume" name="prenume">
    </div>
    <div class="form-group">
        <label for="cnp">Cod numeric personal</label>
        <input type="text" class="form-control" value="{{ pacient.cnp }}" id="cnp" name="cnp">
    </div>
    <div class="form-group">
        <label for="adresa"> Adresa de contact</label>
        <input type="textarea" class="form-control" value="{{ pacient.adresa }}" id="adresa" name="adresa">
    </div>
    <div class="form-group">
        <label for="telefon"> Numar de telefon de contact</label>
        <input type="text" class="form-control" value="{{ pacient.telefon }}" id="telefon" name="telefon">
    </div>
    <button type="submit" class="btn btn-default"> Salveaza modificarile</button>
</form>


{% endblock %}


