<html>
    <head>
    <meta charset="UTF-8">
        <script src="/static/app/js/jquery-1.11.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
        <!-- urmatoarele sunt pentru date/time picker -->
        <script type="text/javascript" src="/static/app/js/moment-with-locales.js"></script>
        <script type="text/javascript" src="/static/app/js/bootstrap-datetimepicker.min.js"></script>
        {% include "pacient/modale/adaugaProgramare.html" %}
        {% include "pacient/modale/editeazaPersonale.html" %}
        {% include "pacient/modale/adauga.html" %}
        {% include "pacient/navbar.html" %}

    <title> {% block title %} Lista pacientilor aflati in evidenta {% endblock %} </title>
</head>


<body>
{% block body %}
<link ref="stylesheet" href="/static/app/css/datepicker.css">
<script type="text/javascript">
                function listen_for_events(timestamp) {
                    $.ajax("/pacient/lista/")+timestamp, { success:
                        function(data, code, xhr) {
                            for (var i=0; i< data.pacienti.length; i++){
                                var msg= data.pacienti[i].nume;
                                console.log('ai editat pa '+ msg);
                            }
                            listen_for_events(data.timestamp);
                        }
                    }
                }
                $(document).ready( function() {
                        listen_for_events({{ timestamp }});
                        });


                $(document).ready(function() {
                        $('#dataprogramarii').datetimepicker({
                            language: 'ro',
                            sideBySide: true,
                            daysOfWeekDisabled: [0,1,5,6]
                            });
                        
    });
                        listen_for_events({{ timestamp }});

                $("#cautareCnp").keyup(function(e){
                    var search_string = $(this).val();
                    if(search_string.length >=3) {
                      $.getJSON("/pacient/cautaCnp/*"+search_string+ "*", function(jd) {
                        $("#pacienti tbody").empty()
                        var pacienti = jd.pacienti;
                        if (pacienti.length==0) {
                        $("#pacienti tbody").append('<tr><td> Acest pacient nu egsita poti sa-l adaugi folosind butonul de langa<td> <button type="button" class="btn btn-primary"> Adauga pacient</button></td></tr>');
                        } else {
                        for (var i=0; i<pacienti.length; i++){
                        $("#pacienti tbody").append('<tr><td>'+pacienti[i].nume +'</td><td>'+ pacienti[i].prenume +'</td><td>'+ pacienti[i].cnp + '</td><td>'+
        '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid='+ pacienti[i].id +'> Adauga programare</a></td><td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonale" data-pacientid='+ pacienti[i].id +'> Editeaza date personale</button></td><td><a href="{% url action="adaugapersonala" id=pacient.id %}"> Adauga şi boli</a> </td></tr>');
                        }
                        }
                        });
                      } else if(search_string.length ==0){
                      $.getJSON("/pacient/listaToti/", function(jd){
                          $("#pacienti tbody").empty();
                          var pacienti = jd.pacienti;
                        for (var i=0; i<pacienti.length; i++){
                        $("#pacienti tbody").append('<tr><td>'+pacienti[i].nume +'</td><td>'+ pacienti[i].prenume +'</td><td>'+ pacienti[i].cnp + '</td><td>'+
        '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid='+ pacienti[i].id +'> Adauga programare</a></td><td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonale" data-pacientid='+ pacienti[i].id +'> Editeaza date personale</button></td><td><a href="{% url action="adaugapersonala" id=pacient.id %}"> Adauga şi boli</a> </td></tr>');
                        }
                          })

                      }
                    return false;
                    });
                $("#searchclear").click(function() {
                    $("#cautaNume").val('');
                    });

                $("cautareNume").keyup(function(e){
                    var search_string = $(this).val();
                    if(search_string.length >=3){
                    $.getJSON("/pacient/cautaNume/*"+search_string+"*", function(jd){
                        var pacienti =jd.pacienti;
                        for (var i=0; i<pacienti.length; i++){
                    $("#pacienti tbody").html('<tr><td>'+pacienti[i].nume +'</td><td>'+ pacienti[i].prenume +'</td><td>'+ pacienti[i].cnp + '</td><td>'+
        '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid='+ pacienti[i].id +'> Adauga programare</a></td><td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonale" data-pacientid='+ pacienti[i].id +'> Editeaza date personale</button></td><td><a href="{% url action="adaugapersonala" id=pacient.id %}"> Adauga şi boli</a> </td></tr>');
                    }
                    });
                    } return false;
                    });
                });

</script>
<style>
.datepickertime{z-index:1151 !important;}
#searchinput {
    width: 200px;
}
#searchclear {
    position:absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
</style>


    {% include "pacient/jumbotron.html" %}
    {% if pacienti %}
    <table class="table table-hover" id="pacienti">
    <thead>
        <tr> <th> Nume </th> <th> Prenume </th><th> Cnp </th><th> Adauga programare</th><th> Modifica detalii personale</th> <th> Modifica detalii medicale</th>        </tr>
        <tr> <td>
                <div class="btn-group">
              <input type="text" class="form-control" placeholder="cauta dupa nume" id="cautareNume">
              <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
              </div> </th>
              <th>           </th><th>
                  <div class="btn-group">
                  <input type="text" class="form-control" placeholder="cauta dupa cnp" id="cautareCnp"><span id="searchcnpid" class="glyphicon glyphicon-remove-cricle"></span>
              </div>
          </th><th></th><th></th></tr>
    </thead>
    <tbody>
    {% for pacient in pacienti %}
    <tr><td> {{ pacient.nume}} </td> <td>{{ pacient.prenume }} </td><td>{{ pacient.cnp }} </td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid="{{ pacient.id }}"> Adauga programare</a></td> 
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonale" data-pacientid="{{ pacient.id }}"> Editeaza date personale</button></td>
        <td><a href="/consult/adauga/{{ pacient.id}}/{{ programare.id }}"> Adauga consult</a> </td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h2> Nu ai pacienti</h2>
    {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaPacientModal"> Adauga pacient</button>
<a href="/programares/lista" class="btn btn-primary"> Vezi lista cu programari</a>

{% endblock %}
</body></html>

