{% extends "pacient/lista.html" %}
{% block title %} Vezi lista cu programari {% endblock %}


<body>
{% block body %}
<h3> Alege data </h3>
<ul>
    {% if programari %}
        {% for programare in programari %}
        <li> {{ programare.pacient.nume}} {{ programare.pacient.prenume }} {{ programare.data }} {{ programare.ora }}
        {% endfor %}
    {% else %}
        <li> Nu ai programari azi
    {% endif %}
</ul>
{% endblock %}
<p><a href="/programare/adauga"> Adauga programare</a></p>
</body></html>

