<html>
    <head>
    <meta charset="UTF-8">
        <script src="/static/app/js/jquery-1.11.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
        <!-- urmatoarele sunt pentru date/time picker -->
        <script type="text/javascript" src="/static/app/js/moment-with-locales.js"></script>
        <script type="text/javascript" src="/static/app/js/bootstrap-datetimepicker.min.js"></script>
        {% include "pacient/modale/lista.html" %}
        {% include "pacient/navbar.html" %}

    <title> {% block title %} Lista pacientilor aflati in evidenta {% endblock %} </title>
    </head>



<body>
<link ref="stylesheet" href="/static/app/css/datepicker.css">
<script type="text/javascript">
        $(document).ready(function () {
                $('#dataprogramarii').datetimepicker({
                    language: 'ro',
                    sideBySide: true,
                    daysOfWeekDisabled: [0,1,5,6]
                    });
                $("#cautareCnp").keyup(function(e){
                    var search_string = $(this).val();
                    if(search_string.length >=3) {
                      $.getJSON( "/pacient/cautaCnp/*"+search_string+ "*", function(jd) {
                        var pacienti = jd.pacienti;
                        for (var i=0; i<pacienti.length; i++){
                        $("#pacienti tbody").html('<tr><td>'+pacienti[i].nume +'</td><td>'+ pacienti[i].prenume +'</td><td>'+ pacienti[i].cnp + '</td><td>'+
        '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid='+ pacienti[i].id +'> Adauga programare</a></td><td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonaleModal" data-pacientid='+ pacienti[i].id +'> Editeaza date personale</button></td><td><a href="{% url action="adaugapersonala" id=pacient.id %}"> Adauga şi boli</a> </td></tr>');
                        }
                        });
                    } return false;
                    });
                
            });
</script>
<style>
.datepickertime{z-index:1151 !important;}
</style>


{% block body %}
    {% if pacienti %}
    <table class="table table-hover" id="pacienti">
        <tr> <th> Nume </th> <th> Prenume </th><th> Cnp </th><th> Adauga programare</th><th> Modifica detalii personale</th> <th> Modifica detalii medicale</th>        </tr>
        <tr> <td>  <input type="text" class="form-control" placeholder="cauta dupa nume" id="cautareNume">     </th>
            <th>           </th><th> <input type="text" class="form-control" placeholder="cauta dupa cnp" id="cautareCnp"></th><th></th><th></th></tr>
    {% for pacient in pacienti %}
    <tr><td> {{ pacient.nume}} </td> <td>{{ pacient.prenume }} </td><td>{{ pacient.cnp }} </td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid="{{ pacient.id }}"> Adauga programare</a></td> 
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonaleModal" data-pacientid="{{ pacient.id }}"> Editeaza date personale</button></td>
        <td><a href="{% url action="adaugapersonala" id=pacient.id %}"> Adauga şi boli</a> </td></tr>
    {% endfor %}
    </table>
    {% else %}
    <h2> Nu ai pacienti</h2>
    {% endif %}
{% endblock %}
<p><a href="{% url action="adauga" %}" class="btn btn-primary"> Adauga pacient</a>
<a href="/programares/lista" class="btn btn-primary"> Vezi lista cu programari</a>
<a href="{% url action="listaProgramari" %}" class="btn btn-primary"> Lista programari</a></p>

</body></html>

