{% include "schelet.html" %}
{% include "pacient/modale/adaugaProgramare.html" %}
{% include "pacient/modale/editeazaPersonale.html" %}
{% include "pacient/modale/adauga.html" %}

<title> {% block title %} Lista pacientilor aflati in evidenta {% endblock %} </title>
<body>
{% block body %}
<link ref="stylesheet" href="/static/app/css/datepicker.css">
<script type="text/javascript" src="/static/app/js/pacient/lista.js"></script>
<style>
.datepickertime{z-index:1151 !important;}
#searchinput {
    width: 200px;
}
#searchclear {
    position:absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
</style>


{% include "pacient/jumbotron.html" %}
 <div class="col-md-3">
    <input type="hidden" name="timestamp" id="timestamp" value="{{ timestamp}}">
</div>
{% if pacienti %}
    <table class="table table-hover" id="pacienti">
    <thead>
        <tr> <th> Nume </th> <th> Prenume </th><th> Cnp </th><th> Adauga programare</th><th> Modifica detalii personale</th> <th> Modifica detalii medicale</th>        </tr>
        <tr> <td>
                <div class="btn-group">
              <input type="text" class="form-control" placeholder="cauta dupa nume" id="cautareNume">
              <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
              </div> </th>
              <th>           </th><th>
                  <div class="btn-group">
                  <input type="text" class="form-control" placeholder="cauta dupa cnp" id="cautareCnp"><span id="searchcnpid" class="glyphicon glyphicon-remove-cricle"></span>
              </div>
          </th><th></th><th></th></tr>
    </thead>
    <tbody>
    {% for pacient in pacienti %}
    <tr><td> {{ pacient.nume}} </td> <td>{{ pacient.prenume }} </td><td>{{ pacient.cnp }} </td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaProgramare" data-pacientid="{{ pacient.id }}"> Adauga programare</a></td> 
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editeazaPersonale" data-pacientid="{{ pacient.id }}"> Editeaza date personale</button></td>
        <td><a href="/consults/adauga/{{ pacient.id}}"> Adauga consult</a> </td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h2> Nu ai pacienti</h2>
    {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaPacientModal"> Adauga pacient</button>
<a href="/programares/lista" class="btn btn-primary"> Vezi lista cu programari</a>

{% endblock %}
</body></html>

