{% extends "pacient/lista.html" %}
{% block title %} Adaugă o programare {% endblock %}

<body>
{% block body %}
<script type="text/javascript" src="/static/app/js/programare/lista.js"></script>
{% include "programares/modale/adaugaProgramare.html" %}



<div class="jumbotron">
    <h3> Programările din data de</h3>
    <h5>programările să fie pă doctor sau pa clinică</h5>
</div>
<div class="container">
        <div class="col-md-3">
            <input type="hidden" name="timestamp" id="timestamp" value="{{ timestamp}}">
    </div>
        <div class="col-md-6">
          <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="ieri"> Ieri</button>
                        </span>
                        <input type="text" class="form-control" value="{{ value|date}}" id="programariPicker" data-date-format="DD/MM/YYYY">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="maine"> Maine</button>
                        </span>
                    </div>
                    
            <label><input type="checkbox"> Afişează doar programările fără consult</label>
            <label><input type="checkbox"> Afișează doar programul de lucru </label>
    </div>
        <div class="col-md-3">
        </div>
    </div>
        </div><br /> <hr>
    <div>
        <div class-"container">
            <div class="col-md-3">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adaugaPacientModal"> Adauga pacient</button>
             </div>
         </div>
         <div class="col-md-6">
         </div>
         <div class="col-md-3">
             <button type="button" class="btn btn-warning"> Vezi Ziua</button>
             <button type="button" class="btn btn-info"> Vezi Toata Săptămâna</button>
         </div>
 </div>

 <hr>


   
<table class="table table-hover" id="programari-list">
    <thead>
        <tr>
            <td> Ora</td>
            <td> Numele Pacientului</td>
            <td> Programări existente doar</td>

        </tr>
    </thead>

    <tbody>

    </tbody>
</table>
    
{% endblock %}
</body>
</html>


