{% extends "pacient/lista.html" %}
{% block title %} Adaugă o programare {% endblock %}

<body>
{% block body %}
<script type="text/javascript">
        $(document).ready(function () {
            $('#exemplu1').datetimepicker({
                pickTime: false,
                language: "ro"
                }).on('changeDate', function (ev) {
                    var dataZi = $("#exemplu1").val();
                    $.getJSON("/programares/listaZI/"+dataZi, function(jd){
                        var programari = jd.programari; // de verificat daca chiar exista programari in ziua respectiva
                        console.info(programari.length);
                        for (var i=0; i< programari.length; i++){
                        $.getJSON('/pacient/cauta/'+programari[i].pacient_id, function(jd){
                            $('#programari-list tbody').html('<tr><td> '+ jd.pacient.nume +'</td><td> '+ jd.pacient.prenume+'</td><td>'+ programari[i-1].data+'</td><td>'+ programari[i-1].ora+'</td></tr>');
                            });
                        }});

                    $(this).datepicker('hide');
                    });
            });
</script>
<script type="text/javascript">
    function listen_for_events(timestamp) {
        $.ajax("/programares/pull/"+timestamp, { success:
                function(data, code, xhr) {
                for (var i=0; i< data.programari.length; i++) {
                    var programare = data.programari[0];
                    $.getJSON('/pacient/cauta/'+programare.pacient_id, function(jd) {
                    $("#programari-list").append(
                        '<tr><td> '+ jd.pacient.nume+ ' </td> <td> '+ jd.pacient.prenume+'</td> <td>'+ programare.data +'</td> <td>'+  programare.ora+'</td> </tr>'
                        );
                        });
                }
                listen_for_events(data.timestamp);
                } });
    }
    $(document).ready(function() {
            listen_for_events( {{ timestamp }} );
            });
</script>



<h3> Alege data </h3>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="schimba ziua programarii" id="exemplu1">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" id="salut"> Bagă</button>
            </span>
        </div>
    </div>
</div>
    {% if programari %}
    <table class="table table-hover" id="programari-list">
        <tr>
            <th> Nume </th>
            <th> Prenume </th>
            <th> Data </th>
            <th> Ora </th>
        </tr>
        {% for programare in programari %}
        <tr>
            <td>  {{ programare.pacient.nume}} </td>
            <td> {{ programare.pacient.prenume }}</td>
            <td> {{ programare.data }} </td>
            <td> {{ programare.ora }} </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3> Nu ai programari in data de </h3>
    {% endif %}
<p><a href="/programares/adauga"> Adauga programare</a></p>
{% endblock %}
</body>
</html>

