{% include "schelet.html" %}


<body>{% block body %}
<script type="text/javascript" src="/static/app/js/icd/grafice.js"></script>
<script type="text/javascript" src="/static/app/js/Chart.js"></script>
{% include "pacient/jumbotron.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
                     <div class="form-group">
                        <label for="ruda">Valoare:</label>
                        <input type="text" class="form-control" name="valoare" autocomplete="off" id="valoare" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <label for="boala">Dată:</label>
                        <input name="data-analiza" id="data-analiza" class="form-control" type="text"  autocomplete="off"/>
                    </div>
                    <button type="button" class="btn btn-primary"  id="adauga-valoare"> Adaugă valoare în grafic</button>
       <p> Poate vreau mai multe analize pă același grafic</p>
</div>
        <div class="col-md-8" >
            <canvas id="grafic-medical" width="400" height="400"></canvas>
        </div>

    </div>
</div>

{% endblock %}
</body>
