{% extends "pacient/lista.html" %}
{% block title %} Caută un cod {% endblock %}
<body>
{% block body %}
<div class="col-md-3">
    <input type="hidden" name="timestamp" id="timestamp" value="{{ timestamp}}">
</div>

<script type="text/javascript" src="/static/app/js/icd/lista.js"></script>
    {% include "pacient/jumbotron.html" %}
    <div class="container">
        <button type="button" class="btn btn-primary" id="genereazacnp"> Genereaza Cnp</button>
        <input type="text" class="form-control" placeholder="aici se va genera un cnp" id="cnpRezult" disabled>
    </div>
    <div class="container-fluid">
    Alege tipul de diagnostic<br />
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="icdselect" id="icd10" autocomplete="off" checked value="icd10"> ICD10</label>
        <label class="btn btn-primary">
            <input type="radio" name="icdselect" id="cim10" autocomplete="off" value="cim10"> CIM10</label>
    </div>
    <div class="form-inline" role="form">
    <div class="form-group">
        <label for="cim10capitole"> Alege un capitol: </label>
        <select class="form-control" id="cim10capitole">
        </select>
    </div>
    <div class="form-group">
        <label for="cim10subcapitole"> alege un subcapitol:</label>
        <select class="form-control" id="cim10subcapitole">
            <option> selecteaza un subcapitol</option>
        </select>
    </div>
    </div>

    <table class="table table-hover" id="coduri-list">
        <thead>
        <tr>
            <th> Diagnostic </th>
            <th> Cod</th>
        </tr>
        <tr>
            <th>
              <input type="text" class="form-control" placeholder="cauta diagnostic" id="cautareDiagnostic">
          </th>
              <th>
                  <input type="text" class="form-control" placeholder="cautaCod" id="cautaCod">
          </th>
      </tr>

        </thead>


        <tbody>
            {% if coduri %}
            {% for cod in coduri %}
            <tr>
                <td> {{ cod.diagnostic}} </td>
                <td> {{ cod.cod }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <tr>
        <td> Nu există coduri</td>
    </tr>
    {% endif %}
</div>

{% endblock %}


