<p>calculează-ti necesarul de calorii</p>
<div class="form-group">
    <label for="activitate-fizica"> Nivelul de activitate fizică zilnică</label>
    <select class="form-control" id="activitate-fizica">
        <option value="1"> sedentar</option>
        <option value="2"> ușor activ(exerciții fizice ușoare 1-3 zile/săptămână)</option>
        <option value="3"> moderat activ(exerciții fizice moderate 3-5 zile/săptămână)</option>
        <option value="4"> foarte activ(exerciții fizice intense zilnice)</option>
        <option value="5"> ultra activ (exerciții fizice f intense și un job care implică muncă fizică)</option>
    </select>
    <p> se va selecta sexul și vârsta automat din cnp</p>
    <div class="form-group">
        <label for="inaltime">Înălțimea(în cm)</label>
        <input type="text" class="form-control" id="inaltime">
    </div>
    <div class="form-group">
        <label for="greutate"> Greutate(în kg)</label>
        <input type="text" class="form-control" id="greutate">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="" id="boalacronica">Bifează dacă ai o boală cronica</label>
    </div>
    <button type="button "class="btn btn-default pull-right" id="calculeazacalorii" > Calculează-ți necesarul caloric</button>
    <p> să nu uiți să pui eventual un grafic despre împărțire pa macronutrienți</p>
    <p id="necesar-caloric"> </p>

    
</div>
