<h2> sugestie de activitate fizica în funcție de boală și vreme și vârstă</h2>
        <div class="container">
            <button class="js-geolocation" style="display:none;"> Află vremea unde te afli ca să îți putem recomanda un sport</button><br />
            <p> de adăugat și cât sport și eventual câte calori arde "în timp real"</p>
            <div id="recomandare-sport"> Aici recomandarea de sport</div>
                    <button type="button" class="btn btn-primary" id="geolocation"> Spune-mi unde te afli să aflu vremea să îți pot recomanda un sport</button>
        <div class="container">
            <div id="weather"></div>
        </div>
        </div>
